<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ email }}</h1>
    <h2>Your Courses:</h2>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }} - <a href="/course/{{ course._id }}">View Course</a></li>
        {% endfor %}
    </ul>
    <a href="/add_course">Add Course</a>
    <a href="/logout">Logout</a>
</body>
</html>
